<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#action 表单提交的URL, polls-URL命名空间#}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {#使用csrf_token来避免夸站点请求的安全问题#}
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    {#forloop.counter 显示出有多少个问题#}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>